<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div formGroupName="credentials">
      <div class="lab-inp">
        <label for="email"> Email : </label>
        <input type="email" formControlName="email" />
      </div>
      <div class="lab-inp">
        <label for="password"> Password : </label>
        <input type="password" formControlName="password" />
      </div>
    </div>
    <button type="submit" [disabled]="userForm.invalid">Click</button>
  </form>
</div>
